body {
  background-color: #282c34;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.App {
  /* text-align: left; */
  /* height: 100vh; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background: #9ef3a2; */
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  display: inline-flex;
}


.Nav-div{
  margin: auto;
}

.Nav-link {
  color: #9ef3a2;
  margin: 20px;
}

.App-footer{
  background: #28ff34;
  /* height: 10vmin; */
}
