.Endless {
  display: inline-flex;
  width: 100%;
  height: 90vh;
}

.EndlessLeft{
  flex: 70%;
  background: #ff0000;
  display: inline-grid;
}

.EndlessBetList{
  flex: 30%;
  background: #ffbb00;
}

.EndlessChart{
  flex: 60%;
  background: #00ff00;
  height: 75vh;
}

.EndlessController{
  flex: 40%;
  background: #00ffff;
  height: 15vh;
}